# This requirements file lists all third-party dependencies for this project.
#
# Run 'make build' to install these dependencies in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
GoogleAppEngineCloudStorageClient
git+https://github.com/romannowicki/spiner.git#egg=spiner
