@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: table;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 4em;

  @include mobile-only {
    font-size: 2em;
  }
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;

  @include mobile-only {
    flex-direction: column;
  }
}

/* Create two unequal columns that sits next to each other */

/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.btn-hamburger {
  display: none;
}
