@import 'https://fonts.googleapis.com/css?family=Saira+Condensed|Zilla+Slab+Highlight';

html,
body {
  height: 100%;
  font-family: 'Saira Condensed', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: table;
}

h1 {
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 4em;
}
