@import url('https://fonts.googleapis.com/css?family=Caveat');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: table;
}

h1 {
  font-family: 'Caveat', cursive;
  font-size: 4em;
}
