<!doctype html>
<html lang="{{ lang or 'en' }}">
<head>
  <meta charset="utf-8">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/dist/www/style.css">
  <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="page-{{ pageName or 'default' }}">

  <!-- Navigation Bar -->
  <nav class="navbar">

    <button class="hamburger hamburger--3dx navbar__toggle is-active" id="js-navbar-toogle" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <a href="#" class="logo">LOGO</a>
    <ul class="main-nav" id="js-menu">
        <li>
            <a href="#" class="nav-links">Home</a>
        </li>
        <li>
            <a href="#" class="nav-links">Products</a>
        </li>
        <li>
            <a href="#" class="nav-links">About Us</a>
        </li>
        <li>
            <a href="#" class="nav-links">Contact Us</a>
        </li>
        <li>
            <a href="#" class="nav-links">Blog</a>
        </li>
    </ul>
    </nav>


  <!-- Header -->
  <div class="header">
    <h1>My Website</h1>
    <p>With a <b>flexible</b> layout.</p>
  </div>

  {% block content %}{% endblock %}

  <!-- Footer -->
  <div class="footer">
    <h2>Footer</h2>
  </div>
  <script src="/dist/www/vendor.js"></script>
  <script src="/dist/www/script.js"></script>
</body>
</html>
